//
//
// HEADER
//
//
.header_site{
    @extend %center;
    padding: clamp(20px, calc((40 / $width) * 100vw), 40px)
             0;
    gap: clamp(15px, calc((30 / $width) * 100vw), 30px);         
}
//
//
// BODY
//
//
.home{
    height: auto;
    width: 100vw;
    max-width: calc($width * 1px);
    @extend %center;
    margin-top: clamp(15px, calc((30 / $width) * 100vw), 30px);
}
//
//
// ACCUEIL / IDENTIFICATION
//
//
.register_user{
@extend %center;
flex-direction: column;
gap: clamp(15px, calc((30 / $width) * 100vw), 30px);
padding: clamp(40px, calc((80 / $width) * 100vw), 80px)
clamp(60px, calc((120 / $width) * 100vw), 120px);
border: 8px solid transparent;
border-radius: clamp(10px, calc((20 / $width) * 100vw), 20px);
box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.3),
5px 5px 15px rgba(0, 0, 0, 0.3),
inset -5px -5px 15px rgba(0, 0, 0, 0.3),
inset 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.register_user form{
    @extend %center;
    flex-direction: column;
    gap: clamp(15px, calc((30 / $width) * 100vw), 30px);
    }
//
//
// BODY GAME CHOOSE + RESULT
//
//
.body_game{
    @extend %center;
    flex-direction: column;
    gap: clamp(30px, calc((60 / $width) * 100vw), 60px);
}    
//
//
// SCORING
//
//
.header_score{
    @extend %center;
    gap: clamp(40px, calc((80 / $width) * 100vw), 80px);
    padding: clamp(10px, calc((20 / $width) * 100vw), 20px)
             clamp(15px, calc((30 / $width) * 100vw), 30px);
    border: 8px solid transparent;
    border-radius: clamp(10px, calc((20 / $width) * 100vw), 20px);
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.3),
                 5px 5px 15px rgba(0, 0, 0, 0.3),
                 inset -5px -5px 15px rgba(0, 0, 0, 0.3),
                 inset 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.header_score .pseudo_rank{
    @extend %center;
    flex-direction: column;
    gap: clamp(15px, calc((20 / $width) * 100vw), 20px);
}

.header_score .bloc_score{
    @extend %center;
    flex-direction: column;
    gap: clamp(7.5px, calc((15 / $width) * 100vw), 15px);
    background: $cw;
    padding: clamp(7.5px, calc((15 / $width) * 100vw), 15px)
             clamp(7.5px, calc((30 / $width) * 100vw), 30px);
    border-radius: clamp(10px, calc((20 / $width) * 100vw), 20px);
}
//
//
// SELECTION GAME
//
//
.game_choose{
    @extend %center;
    flex-direction: column;
    gap: clamp(15px, calc((30 / $width) * 100vw), 30px);

}

.game_choose .img_choose{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: clamp(10px, calc((20 / $width) * 100vw), 20px);
    grid-row-gap: 0px;
}

.game_choose .img_choose figure{
    cursor: pointer;
    scale: 0;
    transition: .5s;
    animation: scale_button .8s ease-in-out forwards;
    @for $i from 3 through 1 {
        &:nth-child(#{$i}) {
          animation-delay: 0.3s * (3 - $i);
        }
      }

      @keyframes scale_button{
        0%{
            scale: 0;
        };
        100%{
            scale: 1;
        }
    } 
    
    &:hover{
        transform: scale(1.1);
    }
}

.game_choose .img_choose .rocks{
    justify-self: center;
    grid-area: 2 / 1 / 3 / 3;
}
//
//
// RESULT GAME
//
//
.result_game{
    @extend %center;
    flex-direction: column;
    gap: clamp(30px, calc((60 / $width) * 100vw), 60px);
}

.result_game .bloc_result_global{
    @extend %center;
    gap: clamp(25px, calc((50 / $width) * 100vw), 50px);
}

.result_game .bloc_result_global .bloc_result_player{
    @extend %center;
    flex-direction: column;
    gap: clamp(15px, calc((30 / $width) * 100vw), 30px);
    transition: .5s;
    &:hover{
        transform: scale(1.1);
    }
}


.result_game .bloc_result_global .bloc_result_player .result_user{
    transform: translateY(-100px);
    opacity: 0;
    animation: scale_result_user 1s ease-in-out forwards;
 
    @keyframes scale_result_user{
     0%{
         opacity: 0;
         transform: translateY(-100px);
     };
     100%{
         opacity: 1;
         transform: translateY(0px);
     }
 } 
 }

.result_game .bloc_result_global .bloc_result_player .result_ia{
   transform: translateX(100px);
   opacity: 0;
   animation: scale_result_ia 1s ease-in-out forwards;

   @keyframes scale_result_ia{
    0%{
        opacity: 0;
        transform: translateX(100px);
    };
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
} 
}

.result_game .title_result{
    text-align: center;
}
//
//
// MODAL RANK
//
//
.modal_rank{
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    @extend %center;
    flex-direction: column;
    gap:clamp(15px, calc((30 / $width) * 100vw), 30px);
}

.modal_rank .tableau_top10{
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    padding: clamp(15px, calc((30 / $width) * 100vw), 30px)
             clamp(20px, calc((40 / $width) * 100vw), 40px);
    border: 8px solid transparent;
    border-radius: clamp(10px, calc((20 / $width) * 100vw), 20px);
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.3),
                 5px 5px 15px rgba(255, 255, 255, 0.3),
                 inset -5px -5px 15px rgba(255, 255, 255, 0.3),
                 inset 5px 5px 15px rgba(255, 255, 255, 0.3);
    transform: rotate(180deg) scale(0);
    animation: scale_result_ia 1s ease-in-out forwards;

    @keyframes scale_result_ia{
     0%{
         transform: rotate(180deg) scale(0);
     };
     100%{
         transform: rotate(720deg) scale(1);
     }
 }              
}

.modal_rank .tableau_top10 .back_rank{
    position: absolute;
    top: clamp(2.5px, calc((5 / $width) * 100vw), 5px);
    right: clamp(2.5px, calc((5 / $width) * 100vw), 5px);
}

.modal_rank .tableau_top10 table{
    border-collapse: collapse;
}

.modal_rank .tableau_top10 table thead{
    border-bottom: 2px solid white;
}

.modal_rank .tableau_top10 table tbody .tr_vide{
    height: clamp(15px, calc((30 / $width) * 100vw), 30px);
}

.modal_rank .tableau_top10 table th{
    padding: clamp(7.5px, calc((15 / $width) * 100vw), 15px)
             clamp(15px, calc((30 / $width) * 100vw), 30px);
}